<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>MEME WEB</title>
  </head>

  <body>
    <section class="main-container">
      <div class="welcome-text">
        <h1>Welcome to MEME WEB</h1>
        <h2>Your Ultimate Destination for Memes</h2>
        <p>Enjoy a fresh meme every 30 seconds.</p>
        <p>
          Click the button below to load a new meme, or relax and let us refresh
          it for you automatically.
        </p>
        <button onclick="window.location.reload();">Load New Meme</button>
      </div>
      <div class="meme-container">
        <img
          src="{{ meme_pic }}"
          alt="Sorry, we couldn't fetch the meme. Please try again."
        />
        <p class="author-info">Meme Courtesy of: {{ subreddit }}</p>
      </div>
    </section>
    <footer class="footer">
      Created by <a href="https://my-portfolio-wine-one-81.vercel.app/">Me</a>
      <p>© 2024 Thakur</p>
    </footer>
  </body>
  <script>
    setTimeout(function () {
      window.location.reload();
    }, 30000);
  </script>
</html>
